<section>
    <div class="container">
        <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td class="col-2"><img class="col" src="/images/product-images/{{this._id}}.png" alt="{{this.Name}} image"></td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Price}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td>
                        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                        <a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary">EDIT</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>